@model BTI.MvcX.Models.Cliente

@{
    ViewBag.Title = "Detalhes";
}

<div class="d-flex justify-content-between align-items-center mt-4 mb-3">
    <h2 class="m-0">Detalhes do Cliente</h2>
    <div>
        <a href="@Url.Action("FormAlterar","Cliente", new { id = Model.Id })" class="btn btn-outline-primary me-1">Editar</a>
        <a href="@Url.Action("Index","Cliente")" class="btn btn-outline-secondary">Voltar</a>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-6">
                <div class="border rounded p-3">
                    <h6 class="text-secondary">Dados Pessoais</h6>
                    <dl class="row mb-0">
                        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Nome)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.Nome)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Cpf)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.Cpf)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Rg)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.Rg)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Sexo)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.Sexo)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.EstadoCivil)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.EstadoCivil)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.DataNascimento)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.DataNascimento)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.DataExpedicao)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.DataExpedicao)</dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-6">
                <div class="border rounded p-3">
                    <h6 class="text-secondary">Endereço</h6>
                    <dl class="row mb-0">
                        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Cep)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.Cep)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Logradouro)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.Logradouro)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Numero)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.Numero)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Bairro)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.Bairro)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Cidade)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.Cidade)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Uf)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.Uf)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
